@import "../../breakpoints/breakpoints.scss";

.bought-items-list {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .header-text {
    @include media("<=phone") {
      font-size: 20px;
    }
  }

  .bought-items-list-total {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;

    .total {
      font-size: 40px;
    }
  }
}
