@import "../../breakpoints/breakpoints.scss";

.drop-component {
  margin-left: 10px;

  .drop-wrapper {
    position: relative;
    background-color: white;
    width: 20vw;
    line-height: 40px;
    padding: 5px 25px;
    border-radius: 3px;
    border: 3px solid #999966;

    @include media("<tablet") {
      width: 40vw;
    }
  }

  .drop-wrapper label {
    /* color: grey; */
    font-size: 25px;
    display: block;
    cursor: pointer;

    @include media("<phone") {
      font-size: 17px;
    }
  }

  .dropdown-button {
    text-align: center;
  }

  .dropdown-button span {
    float: right;
    line-height: 40px;

    @include media("<phone") {
      font-size: 17px;
    }
  }

  .drop-wrapper ul {
    position: absolute;
    background-color: white;
    border: 3px solid #999966;
    list-style: none;
    top: 70px;
    left: 0;
    width: 20vw;
    border-radius: 3px;
    display: none;
    @include media("<tablet") {
      width: 40vw;
    }
  }

  .menu {
    height: 40vh;
    overflow: auto;
  }

  [id^="btn"]:checked + ul {
    display: block;
  }

  .drop-input {
    display: none;
  }
}
